---
layout: default
---
<article id="post-page">
	<h2>{{ page.title }}</h2>		
	<time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }}</time>
	<div class="content">

		{{ content }}

		<div class="googleAd">
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<ins class="adsbygoogle"
				 style="display:block; text-align:center;"
				 data-ad-layout="in-article"
				 data-ad-format="fluid"
				 data-ad-client="ca-pub-7878850957814843"
				 data-ad-slot="7548294482"></ins>
			<script>
                (adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		</div>
	</div>

	{% include gpgc_comments.html post_title=page.title %}
</article>

